
 @tailwind base; 
 @tailwind components;
 @tailwind utilities; 

html {
  scroll-behavior: smooth;
}

@keyframes twinkle {
  0%, 100% { opacity: 0.3; }
  50% { opacity: 0.7; }
}



body {
  background: linear-gradient(135deg, #f0f4ff, #f8e7ff);
}

.feed-bg {
  background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(236,24,36,1) 0%, rgba(249,101,230,1) 81%);
}
